:root {
  font-family: Inter, "Microsoft YaHei", "PingFang SC", system-ui, sans-serif;
  color: #f8edf9;
  background: #080711;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #080711;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: #080711;
}

#root {
  min-height: 100vh;
}
